/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

:root {
  --blue-border-opacity: rgba(0, 65, 125, .3);
  --blue-border: rgba(0, 65, 125);
  --white-color: #f2f4f6;
  --black-color: #001B24;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Montserrat", "Arial", sans-serif;
  color: var(--black-color);
}

h3 {
  text-align: center;
  margin: 0 0 1.2rem;
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 500;
}

.page-header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -o-linear-gradient(bottom, rgba(108, 176, 198, 1) 15%, rgba(88, 171, 198, 1) 30%, rgba(68, 166, 198, 1) 45%, rgba(49, 161, 198, 1) 55%, rgba(29, 157, 198, 1) 70%, rgba(9, 152, 198, 1) 85%, rgba(0, 150, 198, 1) 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(108, 176, 198, 1)), color-stop(30%, rgba(88, 171, 198, 1)), color-stop(45%, rgba(68, 166, 198, 1)), color-stop(55%, rgba(49, 161, 198, 1)), color-stop(70%, rgba(29, 157, 198, 1)), color-stop(85%, rgba(9, 152, 198, 1)), to(rgba(0, 150, 198, 1)));
  background-image: linear-gradient(0deg, rgba(108, 176, 198, 1) 15%, rgba(88, 171, 198, 1) 30%, rgba(68, 166, 198, 1) 45%, rgba(49, 161, 198, 1) 55%, rgba(29, 157, 198, 1) 70%, rgba(9, 152, 198, 1) 85%, rgba(0, 150, 198, 1) 100%);
  z-index: 10;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

main {
  background-color: #f2f4f6;
  background-image: url("files/background.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
}

li,
a,
blockquote {
  font-size: 2rem;
}

blockquote {
  margin-bottom: 3rem;
}

.container {
  max-width: 92.8rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  margin-bottom: 5rem;
}

.nav__link {
  margin: 0 2rem;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: var(--white-color);
  font-weight: 600;

}

.nav__link:hover {
  color: var(--black-color);
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.hero-image {
  padding: 10rem 0 0rem;
}

.hero-image .container {
  max-width: 140.8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin: 0 0 2.4rem;
  font-size: 8rem;
  line-height: 9.6rem;
}

.hero-image p {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.intro {
  font-weight: 500;
}

.subheading {
  margin: 0 0 1rem;
  font-size: 5.6rem;
  line-height: 8rem;
  text-align: center;
}

.user-image {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-image img {
  min-width: 25rem;
  min-height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}

.intro p {
  margin: 0 0 3.2rem;
}

.portfolio {
  padding: 0 1.6rem 10rem 1.6rem;
  min-height: 203rem;
}

.slider,
.slider_1C {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 115rem;
  overflow: hidden;
  /* border: .5rem solid var(--blue-border-opacity);
  border-radius: 1rem; */
}

.slides {
  width: 900%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;

}

.slides_1C {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.slider input,
.slider_1C input {
  position: absolute;
  visibility: hidden;
}

.image_HTML {
  width: 25%;
}

.image_1C {
  width: 25%;
}

.image_HTML img,
.image_1C img,
.image_1C video {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_wrapper,
.footer_wrapper_1C {
  max-width: 128rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.bar_shadow {
  position: relative;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  bottom: 1.5rem;
  right: 0.5rem;
}

.bar {
  min-width: 7rem;
  max-height: 1.8rem;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--black-color);
  opacity: .5;
  border-radius: 1rem;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.bar:hover {
  opacity: .8;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.texts_wrapper,
.texts_wrapper_1C {
  overflow: hidden;
  margin-top: 2.7rem;
  max-width: 93rem;
}

.texts {
  width: 900%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.texts_wrapper_1C .texts {
  width: 400%;
}

.text {
  display: inline-block;
  font-size: 3rem;
  color: var(--black-color);
  opacity: .9;
  width: 100%;
  font-weight: bold;
  max-width: 93rem;
}

.bar:active {
  opacity: .9;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Прокрутка слайдов и текстов HTML */
#r1:checked~.slides,
#r1:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#r2:checked~.slides,
#r2:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-11.11%);
  -ms-transform: translateX(-11.11%);
  transform: translateX(-11.11%);
}

#r3:checked~.slides,
#r3:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-22.22%);
  -ms-transform: translateX(-22.22%);
  transform: translateX(-22.22%);
}

#r4:checked~.slides,
#r4:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-33.33%);
  -ms-transform: translateX(-33.33%);
  transform: translateX(-33.33%);
}

#r5:checked~.slides,
#r5:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-44.44%);
  -ms-transform: translateX(-44.44%);
  transform: translateX(-44.44%);
}

#r6:checked~.slides,
#r6:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-55.55%);
  -ms-transform: translateX(-55.55%);
  transform: translateX(-55.55%);
}

#r7:checked~.slides,
#r7:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-66.67%);
  -ms-transform: translateX(-66.67%);
  transform: translateX(-66.67%);
}

#r8:checked~.slides,
#r8:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-77.78%);
  -ms-transform: translateX(-77.78%);
  transform: translateX(-77.78%);
}

#r9:checked~.slides,
#r9:checked~.texts_wrapper .texts:nth-child(1) {
  -webkit-transform: translateX(-88.89%);
  -ms-transform: translateX(-88.89%);
  transform: translateX(-88.89%);
}

/* Прокрутка слайдов и текстов 1C */
#c1:checked~.slides_1C,
#c1:checked~.texts_wrapper_1C .texts:nth-child(1) {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#c2:checked~.slides_1C,
#c2:checked~.texts_wrapper_1C .texts:nth-child(1) {
  -webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
}

#c3:checked~.slides_1C,
#c3:checked~.texts_wrapper_1C .texts:nth-child(1) {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#c4:checked~.slides_1C,
#c4:checked~.texts_wrapper_1C .texts:nth-child(1) {
  -webkit-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  transform: translateX(-75%);
}

/* Выделение кнопок HTML */
#r1:checked~.footer_wrapper .bar:nth-child(1),
#r2:checked~.footer_wrapper .bar:nth-child(2),
#r3:checked~.footer_wrapper .bar:nth-child(3),
#r4:checked~.footer_wrapper .bar:nth-child(4),
#r5:checked~.footer_wrapper .bar:nth-child(5),
#r6:checked~.footer_wrapper .bar:nth-child(6),
#r7:checked~.footer_wrapper .bar:nth-child(7),
#r8:checked~.footer_wrapper .bar:nth-child(8),
#r9:checked~.footer_wrapper .bar:nth-child(9) {
  opacity: .9;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Выделение кнопок 1С */
#c1:checked~.footer_wrapper_1C .bar:nth-child(1),
#c2:checked~.footer_wrapper_1C .bar:nth-child(2),
#c3:checked~.footer_wrapper_1C .bar:nth-child(3),
#c4:checked~.footer_wrapper_1C .bar:nth-child(4) {
  opacity: .9;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.HTML_work,
.OneC_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10rem;
}

.page-footer {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background-image: -o-linear-gradient(top, rgba(108, 176, 198, 1) 15%, rgba(88, 171, 198, 1) 30%, rgba(68, 166, 198, 1) 45%, rgba(49, 161, 198, 1) 55%, rgba(29, 157, 198, 1) 70%, rgba(9, 152, 198, 1) 85%, rgba(0, 150, 198, 1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(108, 176, 198, 1)), color-stop(30%, rgba(88, 171, 198, 1)), color-stop(45%, rgba(68, 166, 198, 1)), color-stop(55%, rgba(49, 161, 198, 1)), color-stop(70%, rgba(29, 157, 198, 1)), color-stop(85%, rgba(9, 152, 198, 1)), to(rgba(0, 150, 198, 1)));
  background-image: linear-gradient(180deg, rgba(108, 176, 198, 1) 15%, rgba(88, 171, 198, 1) 30%, rgba(68, 166, 198, 1) 45%, rgba(49, 161, 198, 1) 55%, rgba(29, 157, 198, 1) 70%, rgba(9, 152, 198, 1) 85%, rgba(0, 150, 198, 1) 100%);
}

.section-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.section-item {
  min-width: 3rem;
  min-height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.section-item:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.section-item:hover>a>svg>path,
.infostart-icon:hover>a>svg>g>path,
.youtube-icon:hover>a>svg {
  fill: var(--black-color);
}

.section-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#html,
#OneC {
  visibility: hidden;
}

@media only screen and (max-width: 1100px) {

  .page-header {
    min-height: 15rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero-image {
    padding: 15rem 0 0rem;
  }

  .nav__link {
    font-size: 3.5rem;
  }

  .heading {
    font-size: 9rem;
  }

  .header_nav {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .hero-image p {
    font-size: 4.2rem;
  }

  .hero-image .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .user-image {
    margin-top: 5rem;
  }

  h3 {
    font-size: 5rem;
    margin: 0 0 3rem;
  }

  .subheading {
    font-size: 5rem;
  }

  li,
  a,
  blockquote,
  .text {
    font-size: 4rem;
  }

  .container {
    max-width: 85rem;
  }

  .hero-image .container {
    max-width: 98.8rem;
  }

  .bar {
    min-width: 15rem;
    max-height: 3.6rem;
    border-radius: 2rem;
  }

  .section-item {
    min-width: 8rem;
    min-height: 8rem;
  }

  .slider,
  .slider_1C {
    max-width: 93rem;
  }

  .page-footer {
    min-height: 15rem;
  }

  /* Выделение кнопок HTML */
  #r1:checked~.footer_wrapper .bar:nth-child(1),
  #r2:checked~.footer_wrapper .bar:nth-child(2),
  #r3:checked~.footer_wrapper .bar:nth-child(3),
  #r4:checked~.footer_wrapper .bar:nth-child(4),
  #r5:checked~.footer_wrapper .bar:nth-child(5),
  #r6:checked~.footer_wrapper .bar:nth-child(6),
  #r7:checked~.footer_wrapper .bar:nth-child(7),
  #r8:checked~.footer_wrapper .bar:nth-child(8) {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* Выделение кнопок 1С */
  #c1:checked~.footer_wrapper_1C .bar:nth-child(1),
  #c2:checked~.footer_wrapper_1C .bar:nth-child(2),
  #c3:checked~.footer_wrapper_1C .bar:nth-child(3),
  #c4:checked~.footer_wrapper_1C .bar:nth-child(4) {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .bar:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

}

@media only screen and (max-width: 430px) {

  .HTML_work,
  .OneC_work {
    margin-top: 0rem;
  }

  .page-header {
    min-height: 6rem;
  }

  .nav__link {
    font-size: 1.6rem;
  }

  .hero-image .container {
    max-width: 98.8rem;
  }

  h3 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }

  .subheading {
    font-size: 2.5rem;
  }

  .container {
    max-width: 38rem;
    margin-bottom: 0rem;
  }

  li,
  a,
  blockquote,
  .text {
    font-size: 2rem;
  }

  .hero-image {
    padding: 7rem 0 0rem;
  }

  .container div {
    max-height: 20rem;
  }

  .heading {
    font-size: 3rem;
    line-height: 4.6rem;
  }

  .hero-image p {
    font-size: 2.5rem;
  }

  .user-image img {
    min-width: 20rem;
    min-height: 25rem;
  }

  .slider,
  .slider_1C {
    max-width: 38rem;
  }

  .page-footer {
    min-height: 6rem;
  }

  .section-item {
    min-width: 3rem;
    min-height: 3rem;
  }

  .portfolio {
    min-height: 95rem;
  }

  .footer_wrapper,
  .footer_wrapper_1C {
    margin-top: 0rem;
  }

  .bar {
    min-width: 2rem;
    max-height: 2rem;
  }

  .bar_shadow {
    width: 0rem;
    height: 0rem;
  }

  .texts_wrapper,
  .texts_wrapper_1C {
    min-height: 8rem;
  }

}