:root {
  --blue-border-opacity: rgba(0, 65, 125, .3);
  --blue-border: rgba(0, 65, 125);
  --white-color: #f2f4f6;
  --black-color: #001B24;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 96rem;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  line-height: 3.2rem;
	color: var(--black-color);
}

.page-header {
  width: 100%;
  position: fixed;
  background-image: linear-gradient(0deg, rgba(108, 176, 198, 1) 15%, rgba(88, 171, 198, 1) 30%, rgba(68, 166, 198, 1) 45%, rgba(49, 161, 198, 1) 55%, rgba(29, 157, 198, 1) 70%, rgba(9, 152, 198, 1) 85%, rgba(0, 150, 198, 1) 100%);
  z-index: 10;
}

.header_nav {
  display: flex;
  justify-content: flex-end;
  
}

main {
  background-color: #f2f4f6;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0 0 10rem;
}

li, a, blockquote {
  font-size: 1.6rem;
}

blockquote {
  margin-bottom: 3rem;
}

.container {
  max-width: 92.8rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.nav__link{
  margin: 0 2rem;
  text-decoration: none;
  transition: color 0.5s;
  color: var(--white-color);
  font-weight: 600;
  
}

.nav__link:hover {
  color: var(--black-color);
}

.page-footer .container {
  max-width: 140.8rem;
}

.hero-image {
  padding: 10rem 0 0rem;
}

.hero-image .container {
  max-width: 140.8rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.heading {
  margin: 0 0 2.4rem;
  font-size: 8rem;
  line-height: 9.6rem;
}

.hero-image p {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.intro {
  margin: 0 0 4rem;
  font-weight: 500;
}

.subheading {
  margin: 0 0 1rem;
  font-size: 5.6rem;
  line-height: 8rem;
  text-align: center;
}

.user-image{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image img{
  width: 25rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}

.intro h3,
.portfolio h3 {
  margin: 0 0 1.2rem;
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 500;
}

.intro p {
  margin: 0 0 3.2rem;
}

.slider, .slider_1C {
  max-width: 115rem;
  max-height: 58rem;
  overflow: hidden;
  border: .5rem solid var(--blue-border-opacity);
  border-radius: 1rem;
}

.slides {
  width: 900%;
  height: 100%;
  display: flex;
  transition: all .4s ease;
}

.slides_1C {
  width: 400%;
  height: 100%;
  display: flex;
  transition: all .4s ease;
}

.slider input, .slider_1C input {
  position: absolute;
  visibility: hidden;
}

.image_HTML {
  width: 25%;
}

.image_1C {
  width: 25%;
}

.image_HTML img, .image_1C img, .image_1C video {
  width: 100%;
  display: flex;
  
}

.footer_wrapper {
  max-width: 128rem;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 4rem;
}

.footer_wrapper_1C {
  max-width: 128rem;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 4rem;
}

.nav {
  display: flex;
  position: absolute;
}

.bar_shadow {
  position: relative;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  bottom: 1.5rem;
  right: 0.5rem;
}

.bar {
  max-width: 3rem;
  max-height: 0.8rem;
  margin: 1rem;
  cursor: pointer;
  background-color: var(--black-color);
  opacity: .5;
  border-radius: 1rem;
  transition: all .4s ease;
}

.bar:hover {
  opacity: .8;
  transform: scale(1.1);
}

.texts_wrapper {
  max-width: 85rem;
  position: absolute;
  overflow: hidden;
  margin-top: 2.7rem;
}

.texts_wrapper_1C {
  max-width: 90rem;
  position: absolute;
  overflow: hidden;
  margin-top: 2.7rem;
}

.texts {
  width: 900%;
  display: flex;
  transition: all .4s ease;
}

.text {
  display: inline-block;
  font-size: 2rem;
  color: var(--black-color);
  opacity: .9;
  width: 100%;
  font-weight: bold;
}

.bar:active {
  opacity: .9;
  transform: scale(1.3);
}

/* Прокрутка слайдов и текстов HTML */
#r1:checked ~ .slides,
#r1:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(0);
}

#r2:checked ~ .slides,
#r2:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-11.11%);
}

#r3:checked ~ .slides,
#r3:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-22.22%);
}

#r4:checked ~ .slides,
#r4:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-33.33%);
}

#r5:checked ~ .slides,
#r5:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-44.44%);
}

#r6:checked ~ .slides,
#r6:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-55.55%);
}

#r7:checked ~ .slides,
#r7:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-66.67%);
}

#r8:checked ~ .slides,
#r8:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-77.78%);
}

#r9:checked ~ .slides,
#r9:checked ~ .texts_wrapper .texts:nth-child(1) {
  transform: translateX(-88.89%);
}

/* Прокрутка слайдов и текстов 1C */
#c1:checked ~ .slides_1C,
#c1:checked ~ .texts_wrapper_1C .texts:nth-child(1) {
  transform: translateX(0);
}

#c2:checked ~ .slides_1C,
#c2:checked ~ .texts_wrapper_1C .texts:nth-child(1) {
  transform: translateX(-25%);
}

#c3:checked ~ .slides_1C,
#c3:checked ~ .texts_wrapper_1C .texts:nth-child(1) {
  transform: translateX(-50%);
}

#c4:checked ~ .slides_1C,
#c4:checked ~ .texts_wrapper_1C .texts:nth-child(1) {
  transform: translateX(-75%);
}

/* Выделение кнопок HTML */
#r1:checked ~ .footer_wrapper .bar:nth-child(1),
#r2:checked ~ .footer_wrapper .bar:nth-child(2),
#r3:checked ~ .footer_wrapper .bar:nth-child(3),
#r4:checked ~ .footer_wrapper .bar:nth-child(4),
#r5:checked ~ .footer_wrapper .bar:nth-child(5),
#r6:checked ~ .footer_wrapper .bar:nth-child(6),
#r7:checked ~ .footer_wrapper .bar:nth-child(7),
#r8:checked ~ .footer_wrapper .bar:nth-child(8) {
  opacity: .9;
  transform: scale(1.3);
}

/* Выделение кнопок 1С */
#c1:checked ~ .footer_wrapper_1C .bar:nth-child(1),
#c2:checked ~ .footer_wrapper_1C .bar:nth-child(2),
#c3:checked ~ .footer_wrapper_1C .bar:nth-child(3),
#c4:checked ~ .footer_wrapper_1C .bar:nth-child(4) {
  opacity: .9;
  transform: scale(1.3);
}

.HTML_work, .OneC_work {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80rem;
}
 
.page-footer {
  padding: 4rem 0;
	background-image: linear-gradient(180deg, rgba(108, 176, 198, 1) 15%, rgba(88, 171, 198, 1) 30%, rgba(68, 166, 198, 1) 45%, rgba(49, 161, 198, 1) 55%, rgba(29, 157, 198, 1) 70%, rgba(9, 152, 198, 1) 85%, rgba(0, 150, 198, 1) 100%);
}

.section-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.section-item {
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .4s ease;
}

.section-item:hover {
  transform: scale(1.4);
}

.section-item:hover > a > svg > path,
.infostart-icon:hover > a > svg > g > path {
  fill: var(--black-color);
}

.section-item a{
  display: block;
  width: 100%;
  height: 100%;
}

#html, #OneC {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  /* .texts_wrapper {
      margin-top: 10rem;
  } */

  /* .footer_wrapper {
      margin-top: 5rem;
      justify-content: center;
  } */
  
}